<a href="https://colab.research.google.com/github/19PA1A0495/Python-Basics/blob/master/multivariate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd # for handling data in the form of tables
import numpy as np # For handling matrix
from sklearn.model_selection import train_test_split # For spliting the data into train and test
from sklearn.linear_model import LinearRegression # for using the model
import matplotlib.pyplot as plt

In [0]:
data=pd.read_csv("students_placement_data.csv")
data.head()

   Roll No Gender  ... registered_for_ Placement_Training  placement status
0        1      M  ...                                 NO        Not placed
1        2      F  ...                                yes            Placed
2        3      F  ...                                yes        Not placed
3        4      M  ...                                yes        Not placed
4        5      M  ...                                yes        Not placed

[5 rows x 9 columns]

In [0]:
x=data['SSC Percentage'].values.reshape(-1,1)
y=data['B.Tech_percentage'].values.reshape(-1,1)
x
y

array([[40.  ],
       [71.45],
       [45.26],
       [36.47],
       [42.52],
       [62.2 ],
       [33.77],
       [61.02],
       [53.  ],
       [51.  ],
       [71.49],
       [49.67],
       [54.74],
       [74.96],
       [50.55],
       [75.96],
       [70.01],
       [85.39],
       [71.65],
       [74.34],
       [76.9 ],
       [73.01],
       [68.3 ],
       [70.3 ],
       [54.18],
       [55.82],
       [61.  ],
       [38.  ],
       [64.36],
       [69.6 ],
       [74.25],
       [58.  ],
       [71.94],
       [42.  ],
       [65.7 ],
       [68.7 ],
       [75.42],
       [72.68],
       [51.  ],
       [67.5 ],
       [72.74],
       [58.67],
       [45.45],
       [70.85],
       [69.48],
       [72.57],
       [59.53],
       [67.06],
       [52.09],
       [77.5 ],
       [78.  ],
       [55.49],
       [52.  ],
       [67.21],
       [60.35],
       [70.85],
       [31.2 ],
       [52.31],
       [77.95],
       [81.1 ],
       [60.72],
       [74.3 ],
       [52.  ],
       [49.68],
       [78.6 ],
       [72.4 ],
       [72.47],
       [75.13],
       [52.56],
       [44.73],
       [80.47],
       [59.  ],
       [68.9 ],
       [63.41],
       [73.13],
       [56.88],
       [51.06],
       [73.09],
       [65.6 ],
       [57.75],
       [62.16],
       [70.09],
       [57.8 ],
       [63.  ],
       [76.02],
       [69.48],
       [60.53],
       [42.  ],
       [62.99],
       [62.97],
       [54.  ],
       [68.7 ],
       [61.68],
       [51.  ],
       [69.62],
       [62.98],
       [88.1 ],
       [72.73],
       [78.6 ],
       [72.57],
       [65.46],
       [83.38],
       [76.35],
       [53.26],
       [64.63],
       [57.3 ],
       [56.89],
       [58.  ],
       [55.7 ],
       [42.17],
       [54.16],
       [61.  ],
       [35.84],
       [68.5 ],
       [76.3 ],
       [74.5 ],
       [65.53]])

In [0]:
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.2)

In [0]:
model=LinearRegression()
model.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
print(model.intercept_)

[10.21634512]

In [0]:
print(model.coef_)

[[0.6608988]]

In [0]:
predicted_ssc=model.predict(X_test)
predicted_ssc

array([[50.41881921],
       [62.42735043],
       [67.71454085],
       [60.00185183],
       [69.25443505],
       [61.76645163],
       [67.93263745],
       [68.26308685],
       [63.92098173],
       [68.48118346],
       [67.91281049],
       [60.99320004],
       [59.45330583],
       [69.03633845],
       [69.91533385],
       [62.16299091],
       [61.32364944],
       [59.12285643],
       [65.07094564],
       [64.29769404],
       [52.51386841],
       [70.35813605],
       [69.69723725],
       [54.49656482]])

In [0]:
Actual_predicted=pd.DataFrame({'predicted':predicted_ssc.flatten(), 'Actual':Y_test.flatten()})
Actual_predicted

    predicted  Actual
0   50.418819   54.00
1   62.427350   71.94
2   67.714541   70.01
3   60.001852   58.67
4   69.254435   69.62
5   61.766452   51.06
6   67.932637   69.48
7   68.263087   74.34
8   63.920982   62.20
9   68.481183   63.41
10  67.912810   40.00
11  60.993200   72.73
12  59.453306   55.82
13  69.036338   65.60
14  69.915334   80.47
15  62.162991   56.88
16  61.323649   52.00
17  59.122856   76.02
18  65.070946   58.00
19  64.297694   60.72
20  52.513868   31.20
21  70.358136   72.68
22  69.697237   72.40
23  54.496565   45.26